html {
    scroll-behavior: smooth;
    height: 100%;
}
* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    background-color: #5151c5;
    background-image: url(/media/img/backgroundBody.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 120px;
    padding: 25px 0;
}

h2 {
    font-size: 50px;
    /*color:#ff4d43;*/
}
h3 {
    font-size: 40px;
    /*color:#ff4d43;*/
}
footer {
    height: 40px;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
    background-color:rgba(128, 128, 128, 0.315);
    padding: 15px 0 10px;
    margin-top: auto;
}
a,
ul,
li {
    text-decoration: none;
    color: white;
    list-style-type: none;
}
a:hover,
ul:hover,
li:hover {
    text-decoration: none;
    color: black;
    list-style-type: none;
}
#mashines,
#party {
    height: 100vh;
}
::before, ::after {
    box-sizing: inherit;
}
.quotes::before {
    content: open-quote;
}
.quotes::after{
    content: close-quote;
}

/* navbar background */
.bg-light {
    background-color:#f8f9fa38 !important;
}

.headerfont {
    font-family: 'Rock Salt', cursive;
}
.welcomeText {
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    letter-spacing: 4px;
    padding: 25px 0;
}
.center {
    text-align: center;
}
.space {
    margin: 30px;
}
.centerItemHorisontal {
    display: flex;
    justify-content: center;
}
.centerItemVertical {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centerVideo {
    display: flex;
    justify-content: center;
}
.videoDisplay {
    height: 40vh;
}

.headerText {
    padding: 10px 0;
}
.whoAreWe,
.whatWeDo,
.ourParty {
    padding: 25px;
}
.firstBackground {
    background-color: rgba(128, 128, 128, 0.315);
    border-radius: 25px;
}
.secondBackground {
    background-color: rgba(128, 128, 128, 0.315);
    border-radius: 25px;
    padding: 25px;
    margin: 25px 0;
}
.ourParty {
    padding: 0;
}
.ourParty p {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.imgMain,
.imgSmall {
    width: auto;
    border-radius: 50px;
    padding: 15px 0;
}
.imgMain {
    height: 400px;
} 
.imgSmall {
    height: 250px;
} 
.btn {
    color: black;
    border-color: whitesmoke
}
.btn-outline-light:hover {
    color: black;
    background-color: transparent;
    border-color: black;
}
.imgEmp {
    max-width: 200px;
    border-radius: 25px;
}
.contact_email_img {
    content: url(/media/img/email150x150.png);
    width: 300px;
    height: 300px;
}
.contact_email_img:hover {
    content: url(/media/img/email_open_white170.png);
}
.myCard {
    border: none;
    border-radius: 50px;
    background-color: transparent;
}
.myCardImgTop {
    border-top-left-radius: calc(.75rem - 1px);
    border-top-right-radius: calc(.75rem - 1px);
}
.myCardBody{
    background-color: #a4936c;
    border-style: none;
}
.ulContact,
.liContact,
.liContact a {
color: black;
}

.mySrOnly {
    color: white;
}
.products {
    height: 100vh;
}
.productImg {
    width: 250px;
    padding-top: 20px;
}
.productCard {
    background-color: #7c73599d;
}
.myCardGroup {
    margin: 25px;
}

/* Media Breakpoints */
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) and (max-width: 576px) { 
    #mashines, #party {
        height: auto;
    }
    h1,
    .h1prod {
        font-size: 40px;
    }
    
    h3 {
        font-size: 23px;
    }
    .products {
        height: 65vh;
    }
    .navbar-brand {
        display: none;
    }
    .welcomeText {
        font-size: 18px;
        
    }
    .welcomeTextProd {
        font-size: 16px;
        padding: 0 20px;
    }
    .headerText p,
    .whatWeDo p,
    .whoAreWe p,
    .ourParty p {
        font-size: 12px;
    }
    .video {
        display: none;
    }
    .imgMain {
        height: 300px;
    }
    .contact_email_img {
        display: none;
    }
}
/*Medium devices (tablets, 576px and up)*/
@media (min-width: 576px) and (max-width: 768px) { 
    #mashines, #party {
        height: auto;
    }
    h1,
    .h1prod {
        font-size: 54px;
    }
    h3 {
        font-size: 28px;
    }
    .products {
        height: 65vh;
    }
    .productImg {
        width: 136px;
    }
    .navbar-brand {
        display: none;
    }
    .welcomeText {
        font-size: 18px;
        padding: 0;
    }
    .welcomeTextProd {
        font-size: 16px;
    }
    .headerText p,
    .whatWeDo p,
    .whoAreWe p,
    .ourParty p {
        font-size: 14px;
    }
    
    .imgMain {
        height: 300px;
    }
    .contact_email_img {
        display: none;
    }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 992px) { 
    #mashines, #party {
        height: auto;
    }
    h1,
    .h1prod {
        font-size: 54px;
    }
    h3 {
        font-size: 28px;
    }
    
    .products {
        height: 65vh;
    }
    .navbar-brand {
        display: none;
    }
    .welcomeText {
        font-size: 18px;
        padding: 0;
    }
    .welcomeTextProd {
        font-size: 16px;
    }
    .headerText p,
    .whatWeDo p,
    .whoAreWe p,
    .ourParty p {
        font-size: 14px;
    }
    .productImg {
        width: 136px;
    }
    .imgMain {
        height: 300px;
    }
    .card-text {
        font-size: 12px;
    }
    
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1020px) { 
    #mashines, #party {
        height: auto;
    }
    h1,
    .h1prod {
        font-size: 54px;
    }
    h3 {
        font-size: 28px;
    }
    .products {
        height: 65vh;
    }
    .navbar-brand {
        display: none;
    }
    .welcomeText {
        font-size: 18px;
        padding: 0;
    }
    .welcomeTextProd {
        font-size: 16px;
    }
    .headerText p,
    .whatWeDo p,
    .whoAreWe p,
    .ourParty p {
        font-size: 14px;
    }

    .imgMain {
        height: 300px;
    }
 }
